 <!-- FOOTER -->
 <footer class="py-5 px-lg-5">
    <div class="container">
        <div class="row gy-4 justify-content-between">
            <div class="col-auto">
                <p class="fs--1 my-2 fw-bold text-200">All rights Reserved &copy; 2023</p>
                <p class="mb-0">Designed by <a href="#" class="fw-bold">ANABIL</a></p>
            </div>
            <div class="col-auto">
                <h5 class="lh-lg fw-bold text-light font-sans-serif"> My links</h5>
                <div class="social-icons">
                    <a href="https://twitter.com/anabil_baruah"><i class="lab la-twitter"></i></a>
                    <a href="https://www.instagram.com/__anabil__baruah/?hl=en"><i class="lab la-instagram"></i></a>
                    <!-- <a href="#"><i class="lab la-dribbble"></i></a> -->
                    <a href="https://github.com/Anabil-Baruah"><i class="lab la-github"></i></a>
                    <a href="https://hashnode.com/@Anabil"><i class="fa-brands fa-hashnode"></i></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- //FOOTER -->

</div>
<!-- //CONTENT WRAPPER -->

</body>
<!-- for ajax -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- ! for ajax ! -->

<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/aos.js"></script>
<script src="/js/main.js"></script>

</html>