<div class="col-md-4" data-aos="fade-up" data-aos-delay="600">
    <div class="service p-4 bg-base rounded-4 shadow-effect">
        <div class="iconbox rounded-4">
            <i class="fa-solid fa-webhook"></i>
        </div>
        <h5 class="mt-4 mb-2">API development</h5>
        <p>I have experience building APIs with Node.js, and I can help you create a powerful, RESTful API that allows
            you to easily integrate your application with other services. I can also help you with API testing and
            documentation. </p>
        <a href="#" class="link-custom">Read More</a>
    </div>
</div>







<!-- REVIEWS -->
<section id="reviews" class="full-height px-lg-5">
    <div class="container">

        <div class="row pb-4" data-aos="fade-up">
            <div class="col-lg-8">
                <h6 class="text-brand">REVIEWS</h6>
                <h1>What our subscribers say</h1>
            </div>
        </div>

        <div class="row gy-4">

            <div class="col-md-4" data-aos="fade-up">

                <div class="review shadow-effect bg-base p-4 rounded-4">
                    <div class="text-brand h5">
                        <i class="las la-star"></i>
                        <i class="las la-star"></i>
                        <i class="las la-star"></i>
                        <i class="las la-star"></i>
                        <i class="las la-star"></i>
                    </div>
                    <p class="my-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel quae facilis fugiat
                        molestias ab illum excepturi, qui optio modi asperiores, delectus maiores!</p>
                    <div class="person">
                        <h5 class="mb-0">Jon Doe</h5>
                        <p class="mb-0">Twitter</p>
                    </div>
                </div>

            </div>

            <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">

                <div class="review shadow-effect bg-base p-4 rounded-4">
                    <div class="text-brand h5">
                        <i class="las la-star"></i>
                        <i class="las la-star"></i>
                        <i class="las la-star"></i>
                        <i class="las la-star"></i>
                        <i class="las la-star"></i>
                    </div>
                    <p class="my-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel quae facilis fugiat
                        molestias ab illum excepturi, qui optio modi asperiores, delectus maiores!</p>
                    <div class="person">
                        <h5 class="mb-0">Jon Doe</h5>
                        <p class="mb-0">Twitter</p>
                    </div>
                </div>

            </div>

            <div class="col-md-4" data-aos="fade-up" data-aos-delay="600">

                <div class="review shadow-effect bg-base p-4 rounded-4">
                    <div class="text-brand h5">
                        <i class="las la-star"></i>
                        <i class="las la-star"></i>
                        <i class="las la-star"></i>
                        <i class="las la-star"></i>
                        <i class="las la-star"></i>
                    </div>
                    <p class="my-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel quae facilis fugiat
                        molestias ab illum excepturi, qui optio modi asperiores, delectus maiores!</p>
                    <div class="person">
                        <h5 class="mb-0">Jon Doe</h5>
                        <p class="mb-0">Twitter</p>
                    </div>
                </div>

            </div>

        </div>

    </div>
</section>
<!-- //REVIEWS -->






<!-- <div class="col-lg-6">

                        <h3 class="mb-4" data-aos="fade-up" data-aos-delay="300">Experiance</h3>
                        <div class="row gy-4">

                            <div class="col-12" data-aos="fade-up" data-aos-delay="600">
                                <div class="bg-base p-4 rounded-4 shadow-effect">
                                    <h4>Applications developer</h4>
                                    <p class="text-brand mb-2">Twitter (2018 - 2020)</p>
                                    <p class="mb-0">All we are more and design lorem ipsum dolor creativity sit amet consectetur adipisicing elit</p>
                                </div>
                            </div>

                            <div class="col-12" data-aos="fade-up" data-aos-delay="600">
                                <div class="bg-base p-4 rounded-4 shadow-effect">
                                    <h4>Applications developer</h4>
                                    <p class="text-brand mb-2">Twitter (2018 - 2020)</p>
                                    <p class="mb-0">All we are more and design lorem ipsum dolor creativity sit amet consectetur adipisicing elit</p>
                                </div>
                            </div>

                            <div class="col-12" data-aos="fade-up" data-aos-delay="600">
                                <div class="bg-base p-4 rounded-4 shadow-effect">
                                    <h4>Applications developer</h4>
                                    <p class="text-brand mb-2">Twitter (2018 - 2020)</p>
                                    <p class="mb-0">All we are more and design lorem ipsum dolor creativity sit amet consectetur adipisicing elit</p>
                                </div>
                            </div>

                        </div>

                    </div> -->